<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <footer th:fragment="footer">
        <div>
            <br/>
            <form method="post" th:action="@{/logout}">
                <b>User: </b> <span sec:authentication="name">Actual User</span>
                <b>Rol:</b> <span sec:authentication="principal.authorities">Rol</span>
                <a href="#" onclick="this.parentNode.submit();">Logout</a>
            </form>
        </div>
    </footer>
</body>
</html>