<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head th:replace="templates.layout/template :: head">

    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<header th:replace="templates.layout/template :: header"></header>
<div class="d-flex justify-content-center" style="margin-top: 50px;">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://i.gifer.com/7V9b.gif" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">You Can't Donate!</h5>
        <p class="card-text">A donation has already been made in the last month from this country, be patient, we thank you for your support</p>
        <a th:href="@{/}" class="btn btn-primary">Go back!</a>
    </div>
</div>
</div>
</body>
</html>