<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        lang="en">
<head th:replace="templates.layout/template :: head">

    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <header th:replace="templates.layout/template :: header"></header>
    <div th:if="${users != null and !users.empty}">
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Country</th>
                <th>Surnames</th>
                <th>Name</th>
                <th>Username</th>
                <th>email</th>
                <th>password</th>
                <th>ID Document</th>
                <th>Institution</th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.userId}"></td>
                <td th:text="${user.countryId}"></td>
                <td th:text="${user.surnames}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.idDocument}"></td>
                <td th:text="${user.institution}"></td>
            </tr>
        </table>
    </div>


</body>
</html>